<%- include('../header') %>
<form method="POST" action="/publicacoes/editar/<%= categoria %>/<%= publicacao.id %>" id="publiform">
    <label>Título: </label>
    <input type="text" name="titulo" placeholder="Insira o título"/ value="<%= publicacao.titulo %>"><br/>
    <label>Conteúdo: </label><br/>
    <textarea rows="7" cols="40" name="conteudo" form="publiform"><%= publicacao.conteudo %></textarea>
    <button>Salvar</button>
</form>
<%- include('../footer') %> 